@font-face{
			font-family: 'rori';
			src:url('../font/rori.TTF');
		}
		*{
			margin: 0;
			padding: 0;
			font-family: 'rori';
			font-size: 20px;
			-webkit-user-select:none;
   			-moz-user-select:none;
   			-ms-user-select:none;
   			user-select:none;
		}
		body{ 
			background-image:url('../image/2.jpg');
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-position:left;
			background-size:cover;
		}
		#head{
			width: 100%;
			height: 50px;
			background-color: #DCF5FC;
			margin-bottom: 0px;
		}
		#head table{
			width: 100%;
			height: 100%;
		}
		td{
			vertical-align: middle;
			padding: 0px 10px;

		}
		a,a span{
			margin: 0px 10px;
			color: #000;
			font-family: 'rori';
			font-size: 12px;
		}
		#name{
			font-size: 30px;
			font-style: italic;
			font-weight: bold;

		}
		#ctrl{
			background-color: #E3D8E9;
		}
		.ctrl{
			height: 25px;
			margin: 5px;
			padding: 5px;
			display: inline;
			background-color: #AC80E8;
			cursor: pointer;
			border-width: 2px;
			border-style: solid;
			border-color: #000;
			border-radius: 5px;
		}
		.title{
			width: 80%;
			height: 30px;
			text-align: center;
			vertical-align: middle;
			margin: 20px auto;
			background-color: pink;
			border-radius: 25px;
		}
		.voice{
			width: 100%;
			text-align: center;
		}
		.t{
			line-height: 100%;
		}
		.button{
			height: 25px;
			margin: 5px;
			padding: 5px;
			display: inline-block;
			background-color: #D6F0F7;
			cursor: pointer;
			border-width: 2px;
			border-style: solid;
			border-color: #000;
			border-radius: 5px;
		}
		footer{
			position: absolute;
			bottom: 0px;
			background-color: #CAD2D9;
			width: 100%;
			padding: 8px 0px;
			font-size: 12px;
		}
		footer td{
			font-size: 12px;
		}
		#by{
			margin: 0px 30px;
			font-size: 12px;
		}
		.link{
			height: 25px;
		}
		#img{
			border-radius:50%;
			height: 20px;
			margin-bottom: -4px;
			margin-left: 5px;
		}